---
- name: Create systemd service
  template:
    src: oxidize.service.j2
    dest: /etc/systemd/system/oxidize.service
    mode: '0644'
  become: yes
  register: service_file

- name: Reload systemd
  systemd:
    daemon_reload: yes
  become: yes
  when: service_file.changed

- name: Enable oxidize service
  systemd:
    name: oxidize
    enabled: yes
  become: yes
