[Unit]
Description=Oxidize Network Relay Server
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/oxidize
ExecStart=/opt/oxidize/oxidize-server --listen [::]:51820{% if oxidize_app_public_key is defined and oxidize_api_secret is defined %} --enable-auth{% endif %}
Restart=always
RestartSec=5
LimitNOFILE=2097152
LimitMEMLOCK=infinity
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_ADMIN CAP_IPC_LOCK
Environment=RUST_LOG=info
Environment=RUST_BACKTRACE=1
EnvironmentFile=-/etc/oxidize/auth.env
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
Nice=-20
NoNewPrivileges=false
ProtectSystem=false
PrivateTmp=true

[Install]
WantedBy=multi-user.target
