---
- name: Setup Oxidize Relay Servers
  hosts: relay_servers
  become: yes
  gather_facts: yes

  vars:
    reboot_required: false

  roles:
    - common
    - xdp
    - oxidize

  post_tasks:
    - name: Reboot if required
      reboot:
        msg: "Rebooting for kernel/hugepages configuration"
        reboot_timeout: 300
      when: reboot_required | default(false)

    - name: Wait for server to come back
      wait_for_connection:
        delay: 30
        timeout: 300
      when: reboot_required | default(false)
