---
- name: Setup Oxidize Relay Servers
  hosts: relay_servers
  become: yes
  gather_facts: yes

  vars:
    reboot_required: false

  roles:
    - common
    - dpdk
    - oxidize

  post_tasks:
    - name: Reboot if required
      reboot:
        msg: "Rebooting for IOMMU/hugepages configuration"
        reboot_timeout: 300
      when: reboot_required | default(false)

    - name: Wait for server to come back
      wait_for_connection:
        delay: 30
        timeout: 300
      when: reboot_required | default(false)

    - name: Re-run DPDK NIC binding after reboot
      include_role:
        name: dpdk
        tasks_from: bind_nic.yml
      when: reboot_required | default(false)
